@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment Env
@{
    Layout = null;
}

<h1>@Localizer["Dashboard"]</h1>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Localizer["Pending orders"]</h3>
            </div>
            <div class="panel-body">
                <order-widget status="0" num-records="10"></order-widget>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Localizer["Report"]</h3>
            </div>
            <div class="panel-body">
                <my-order-report></my-order-report>
            </div>
        </div>
    </div>
</div>
