@page {
    size: A5 portrait;
    margin: 1cm
}

body {
    font-family: 'Roboto', serif;
    font: 10pt Roboto, "Times New Roman", Times, serif;
    line-height: 1.3;
    background: #fff !important;
    color: #000;
}

table {
    font-size: 10pt;
}

a:after {
    content: " [" attr(href) "] ";
}
