<div class="form-group">
    <div class="col-sm-12" ng-if="vm.customer">
        <div class="row">
            <div class="col-sm-4">
                <i class="fa fa-user">&nbsp;</i>{{vm.customer.display}}
                <span ng-show="vm.customer.link"><a ng-href="{{vm.customer.link}}" target="_blank">(Link)</a></span>
            </div>
            <div class="col-sm-8">
                <span ng-show="vm.customer.address"><i class="fa fa-map-marker">&nbsp;</i>{{vm.customer.address}}</span>
            </div>
        </div>
    </div>
</div>
