<md-tab label="Invoice">
    <md-content class="md-padding">
        <div id="invoice-tab" class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-striped table-condensed vertical-align-middle">
                    <thead>
                        <tr>
                            <th class="col-sm-1">{{::vm.translate.get('Image')}}</th>
                            <th class="col-sm-2">{{::vm.translate.get('Name')}}</th>
                            <th class="col-sm-1 text-center">{{::vm.translate.get('Price')}}</th>
                            <th class="col-sm-1 text-center">{{::vm.translate.get('Quantity')}}</th>
                            <th class="col-sm-1 text-center">{{::vm.translate.get('Subtotal')}}</th>
                        </tr>
                    </thead>
                    <tbody ng-show="vm.orderItems.length" class="cart-list">
                        <tr ng-repeat="item in vm.orderItems">
                            <td class="col-sm-1">
                                <img ng-src="{{item.productImage}}" alt="{{item.productName}}"
                                     width="50">
                            </td>
                            <td class="col-sm-2">
                                <a ui-sref="product-edit({id: item.productId})" target="_blank"
                                   title="{{item.productName}}">
                                    {{item.productName}}
                                </a>
                            </td>
                            <td class="col-sm-1 text-center">{{item.productPrice.toCurrency()}}</td>
                            <td class="col-sm-1 text-center">{{item.quantity}}</td>
                            <td class="col-sm-1 text-center">{{item.subTotal.toCurrency()}}</td>
                        </tr>
                        <tr class="order-summary active">
                            <td class="col-sm-1"></td>
                            <td class="col-sm-2"></td>
                            <td class="col-sm-1"></td>
                            <td class="col-sm-1 text-center">{{::vm.translate.get("Subtotal")}}:</td>
                            <td class="col-sm-1 text-center">{{vm.orderSubTotal.toCurrency()}}</td>
                        </tr>
                        <tr class="active">
                            <td class="col-sm-1"></td>
                            <td class="col-sm-2"></td>
                            <td class="col-sm-1"></td>
                            <td class="col-sm-1 text-center">{{::vm.translate.get("Discount")}}:</td>
                            <td class="col-sm-1 text-center">{{vm.discount.toCurrency()}}</td>
                        </tr>
                        <tr class="active">
                            <td class="col-sm-1"></td>
                            <td class="col-sm-2"></td>
                            <td class="col-sm-1"></td>
                            <td class="col-sm-1 text-center">{{::vm.translate.get("Shipping")}}:</td>
                            <td class="col-sm-1 text-center">{{vm.shippingAmount.toCurrency()}}</td>
                        </tr>
                        <tr class="success">
                            <td class="col-sm-1"></td>
                            <td class="col-sm-2"></td>
                            <td class="col-sm-1"></td>
                            <td class="col-sm-1 text-center"><b>{{::vm.translate.get("Total")}}:</b></td>
                            <td class="col-sm-1 text-center"><b>{{vm.orderTotal.toCurrency()}}</b></td>
                        </tr>
                    </tbody>
                    <tbody ng-show="!vm.orderItems.length">
                        <tr>
                            <td colspan="10" class="text-center">{{::vm.translate.get("No product")}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </md-content>
</md-tab>
