<div class="form-group">
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary" ng-disabled="orderForm.$invalid || orderForm.$pristine || vm.formIsDisabled" 
                ng-click="vm.save()" ng-dblclick="return false;">
            <i class="fa fa-check">&nbsp;</i>{{::vm.translate.get('Save')}}
        </button>
        <button type="button" ng-click="goBack()" class="btn btn-default">{{::vm.translate.get('Back')}}</button>
    </div>
</div>
