<div class="form-group">
    <div class="col-sm-3">
        <md-input-container class="md-block" flex-gt-xs>
            <label>{{::vm.translate.get('Order status')}}</label>
            <md-select ng-disabled="!vm.canEdit" placeholder="{{::vm.translate.get('Select a status')}}" ng-model="vm.orderStatus"
                       style="min-width: 200px;" aria-label="Order status">
                <md-option ng-repeat="status in vm.orderStatusList" ng-value="status.value">{{status.text}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div class="col-sm-3">
        <md-input-container class="md-block" flex-gt-xs>
            <label>{{::vm.translate.get('Tracking number')}}</label>
            <input ng-disabled="!vm.canEdit" ng-model="vm.trackingNumber">
        </md-input-container>

    </div>
    <div class="col-sm-3">
        <md-input-container class="md-block" flex-gt-xs>
            <md-checkbox ng-model="vm.isShopeeOrder" ng-change="vm.onShopeeOrderUpdate()">{{::vm.translate.get('Shopee Order')}}</md-checkbox>
        </md-input-container>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-6">
        <md-input-container class="md-block" flex-gt-xs>
            <label>{{::vm.translate.get('Note')}}</label>
            <textarea ng-disabled="!vm.canEdit" ng-model="vm.note"></textarea>
        </md-input-container>
    </div>
    <div class="col-sm-3">
        <md-input-container class="md-block" flex-gt-xs>
            <label>{{::vm.translate.get('Select payment')}}</label>
            <md-select ng-disabled="!vm.canEdit" placeholder="{{::vm.translate.get('Select payment')}}" ng-model="vm.paymentProviderId"
                       style="min-width: 200px;" aria-label="Order payment">
                <md-option ng-repeat="payment in vm.paymentProviderList" ng-value="payment.value">{{payment.text}}</md-option>
            </md-select>
        </md-input-container>
    </div>
</div>
