<div id="view-import-result" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{::vm.translate.get('Import Result')}}</h4>
            </div>
            <div class="modal-body">
                <h4>{{::vm.translate.get('Imported at: ')}}{{vm.importResult.time}}</h4>
                <ul>
                    <li ng-repeat="item in vm.importResult.items">
                        <span>{{item.externalId}} : </span><span>{{item.status}}</span><span ng-if="item.status === 'Others'">{{item.message}}</span>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{::vm.translate.get('Close')}}
                </button>
            </div>
        </div>
    </div>
</div>
