<div id="view-import-result" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{::vm.translate.get('Import Result')}}</h4>
            </div>
            <div class="modal-body">
                <h3>{{vm.message}}</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{::vm.translate.get('Close')}}
                </button>
            </div>
        </div>
    </div>
</div>
