@{ 
    Layout = null;
}

<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h2>{{::vm.translate.get('Orders')}}</h2>
        </div>
        <div class="col-sm-4 text-right">
            <a ui-sref="order-create" class="btn btn-primary">
                <i class="fa fa-plus">&nbsp;</i>{{::vm.translate.get('Create Order')}}
            </a>
        </div>
    </div>
</div>

<div class="table-responsive">

    <table class="table table-striped" st-pipe="vm.getOrders" st-table="vm.orders">
        <thead>
            <tr>
                <th></th>
                <th class="text-center">{{::vm.translate.get('Status')}}</th>
                <th class="text-center">{{::vm.translate.get('Customer')}}</th>
                <th class="text-center">{{::vm.translate.get('Tracking Number')}}</th>
                <th class="text-center">{{::vm.translate.get('Created By')}}</th>
                <th st-sort="CompletedOn" class=" sortable text-center hidden-xs">{{::vm.translate.get('Completed On')}}</th>
                <th st-sort="Cost" class="sortable">{{::vm.translate.get('Cost')}}</th>
                <th st-sort="Total" class="sortable">{{::vm.translate.get('Total')}}</th>
                <th class="">Actions</th>
            </tr>
            <tr>
                <th></th>
                <th class="">
                    <div class="form-group no-margin-bottom">
                        <select class="form-control" st-search="Status">
                            <option value="">All</option>
                            <option ng-repeat="status in vm.orderStatus" value="{{status.id}}">{{status.name}}</option>
                        </select>
                    </div>
                </th>
                <th class="">
                    <div class="form-group no-margin-bottom">
                        <input class="form-control" st-search="CustomerName" />
                    </div>
                </th>
                <th class="">
                    <div class="form-group no-margin-bottom">
                        <input class="form-control" st-search="TrackingNumber" />
                    </div>
                </th>
                <th class="">
                    <div class="form-group no-margin-bottom">
                        <input class="form-control" st-search="CreatedBy" />
                    </div>
                </th>
                <th class="text-center hidden-xs">
                    <st-date-range predicate="CompletedOn" before="query.before" after="query.after"></st-date-range>
                </th>
                <th class=""></th>
                <th class=""></th>
                <th class=""></th>
            </tr>
        </thead>
        <tbody ng-show="!vm.isLoading">
            <tr st-select-mode="multiple" ng-repeat="order in vm.orders" class="{{order.cssClass}}">
                <td st-order-select="order"></td>
                <td class="">
                    <a ng-if="order.canEdit" href="#" editable-select="order.statusId" e-ng-options="s.id as s.name for s in vm.orderStatus" onaftersave="vm.changeOrderStatus(order.id, $data)">
                        {{ vm.showOrderStatus(order.statusId) }}
                    </a>
                    <span ng-if="!order.canEdit">
                        {{ vm.showOrderStatus(order.statusId) }}
                    </span>
                </td>
                <td class="">{{order.customerName}}</td>
                <td class="">
                    <a ng-if="order.canEdit" href="#" editable-text="order.trackingNumber" onaftersave="vm.changeTrackingNumber(order.id, $data)">
                        {{ order.trackingNumber || 'empty' }}
                    </a>
                    <span ng-if="!order.canEdit">
                        {{ order.trackingNumber }}
                    </span>
                </td>
                <td class="text-center">{{ order.createdBy }}</td>
                <td class=" text-center hidden-xs">{{order.completedOn | date:'medium'}}</td>
                <td class="">{{order.cost.toCurrency()}}</td>
                <td class="">{{order.total.toCurrency()}}</td>
                <td class="text-center">
                    <a ui-sref="order-edit({id: order.id})" title="Edit" class="btn btn-primary btn-xs">
                        <span class="fa fa-edit" ng-if="order.canEdit"></span>
                        <span class="fa fa-eye" ng-if="!order.canEdit"></span>
                    </a>
                </td>
            </tr>
        </tbody>
        <tbody ng-show="vm.isLoading">
            <tr>
                <td colspan="8" class="text-center">Loading ... </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="text-center" st-pagination="" st-items-by-page="50" st-displayed-pages="10" colspan="8"></td>
            </tr>
        </tfoot>
    </table>
</div>
