@model SimplCommerce.Module.Orders.ViewModels.OrderReportSellerVm

@{
    Layout = null;
}
<div class="row">
    <div class="col-sm-3">
        <span><b>Created by: @Model.UserName</b></span>
    </div>
</div>
<div class="row">
    <div id="order-report-chart" class="col-sm-12"></div>
</div>
