@{
    Layout = null;
}

<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h2>{{::vm.translate.get('Import Orders')}}</h2>
        </div>
    </div>
</div>

<div class="row">
    <form name="orderImportForm" class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-5">
                <input class="form-control" type="file" ngf-select ng-model="vm.file" name="file" ngf-accept="'.xls,.xlsx,.csv'">
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary" ng-disabled="orderImportForm.$invalid" ng-click="vm.upload()">
                    <i class="fa fa-check">&nbsp;</i>{{::vm.translate.get('Upload')}}
                </button>
            </div>
        </div>
    </form>
</div>

<div class="table-responsive order-import">
    <table class="table table-striped" st-pipe="vm.getOrderFiles" st-table="vm.orderFiles">
        <thead>
            <tr>
                <th>{{::vm.translate.get('File Name')}}</th>
                <th>{{::vm.translate.get('Created By')}}</th>
                <th>{{::vm.translate.get('Created On')}}</th>
                <th>{{::vm.translate.get('Status')}}</th>
                <th>{{::vm.translate.get('Result')}}</th>
                <th>{{::vm.translate.get('Actions')}}</th>
            </tr>
        </thead>
        <tbody ng-show="!vm.isLoading">
            <tr ng-repeat="orderFile in vm.orderFiles">
                <td>{{orderFile.fileName}}</td>
                <td>{{orderFile.createdBy}}</td>
                <td>{{orderFile.createdOn | date:'medium'}}</td>
                <td>
                    <span ng-if="orderFile.status == 'Pending'">Pending</span>
                    <i ng-if="orderFile.status == 'Completed'" class="fas fa-check success"></i>
                    <i ng-if="orderFile.status == 'InProgress'" class="fas fa-spinner fa-spin loading"></i>
                </td>
                <td>
                    <a href="javascript:;" ng-click="vm.viewResult(orderFile.importResultId)" data-toggle="modal" data-target="#view-import-result">
                        <span class="success">{{orderFile.successCount}}</span> | <span class="error">{{orderFile.failureCount}}</span>
                    </a>
                </td>
                <td>
                    <a href="javascript:;" ng-click="vm.runImport(orderFile.id)" title="Re-import" class="btn btn-primary btn-xs">
                        <i class="fas fa-redo"></i>
                    </a>
                    <a href="javascript:;" ng-click="vm.deleteImport(orderFile.id)" title="Delete" class="btn btn-danger btn-xs">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
        <tbody ng-show="vm.isLoading">
            <tr>
                <td colspan="10" class="text-center">Loading ... </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="text-center" st-pagination="" st-items-by-page="50" st-displayed-pages="10" colspan="5"></td>
            </tr>
        </tfoot>
    </table>
</div>

<div>
    <a href="modules/orders/resources/OrderFileSample.xls" title="Download Sample File" download><i class="far fa-file-excel"></i> Download Sample File</a>
</div>

<partial name="_ViewImportResultModal" />
