@{
    Layout = null;
}

<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h2>{{::vm.translate.get('Import Orders')}}</h2>
        </div>
    </div>
</div>

<div class="row">
    <form name="orderImportForm" class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-5">
                <input class="form-control" type="file" ngf-select ng-model="vm.file" name="file" ngf-accept="'.xls,.xlsx,.csv'">
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary" ng-disabled="orderImportForm.$invalid" ng-click="vm.upload()">
                    <i class="fa fa-check">&nbsp;</i>{{::vm.translate.get('Upload')}}
                </button>
            </div>
        </div>
    </form>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{::vm.translate.get('File Name')}}</th>
                <th>{{::vm.translate.get('Created By')}}</th>
                <th>{{::vm.translate.get('Created On')}}</th>
                <th>{{::vm.translate.get('Status')}}</th>
                <th>{{::vm.translate.get('Actions')}}</th>
            </tr>
        </thead>
        <tbody ng-show="!vm.isLoading">
            <tr ng-repeat="orderFile in vm.orderFiles">
                <td>{{orderFile.fileName}}</td>
                <td>{{orderFile.createdBy}}</td>
                <td>{{orderFile.createdOn | date:'medium'}}</td>
                <td>{{orderFile.status}}</td>
                <td>
                    @*<a ui-sref="order-edit({id: order.id})" title="Edit" class="btn btn-primary btn-xs">
                            <span class="fa fa-edit" ng-if="order.canEdit"></span>
                            <span class="fa fa-eye" ng-if="!order.canEdit"></span>
                        </a>*@
                </td>
            </tr>
        </tbody>
        <tbody ng-show="vm.isLoading">
            <tr>
                <td colspan="10" class="text-center">Loading ... </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="text-center" st-pagination="" st-items-by-page="50" st-displayed-pages="10" colspan="10"></td>
            </tr>
        </tfoot>
    </table>
</div>
