<div id="add-translation-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{::vm.translate.get('Add translation')}}</h4>
            </div>
            <div class="modal-body">
                <form name="addTranslationForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">{{::vm.translate.get('From')}}</label>
                        <div class="col-xs-6">
                            <input class="form-control" ng-model="vm.translation.key" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">{{::vm.translate.get('To')}}</label>
                        <div class="col-xs-6">
                            <input class="form-control" ng-model="vm.translation.value" required />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{::vm.translate.get('Close')}}
                </button>
                <button type="button" ng-disabled="addTranslationForm.$pristine" class="btn btn-primary" data-dismiss="modal" ng-click="vm.addTranslation()">
                    {{::vm.translate.get('Save')}}
                </button>
            </div>
        </div>
    </div>
</div>
