<div class="date-filter container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="after" is-open="isAfterOpen" close-text="Close" ng-change="changeDate(after)" placeholder="From"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openAfter($event)">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="before" is-open="isBeforeOpen" close-text="Close" ng-change="changeDate(before)" placeholder="To"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openBefore($event)">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>